body {
  background: linear-gradient(to bottom,
      #1e1b38 0%,
      #191c2f 15%,
      #101a28 30%,
      #0c1a22 45%,
      #091a1c 60%,
      #05120f 75%,
      #020807 85%,
      #000000 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: #f8f9fa;
  font-family: sans-serif;
  font-weight: 100;
}

.logo {
  width: 104px;
  height: 39px;
  margin: 0 auto;
}

.navbar,
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.at-a-glance {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}


.at-a-glance-item1,
.at-a-glance-item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.at-a-glance.bar {
  display: flex;
  height: 7px;
  border: none;
  margin: 0 16px;
  overflow: hidden;
  /* border-radius: 4px; */
  background-color: transparent;
  max-width: 1164px;
  width: 100%;
  margin: 2px auto;
  flex-direction: row;
}

.at-a-glance.bar hr {
  border: none;
  margin: 0;
  height: 100%;
}

.at-a-glance-violet {
  background-color: #b45eff;
  width: 85%;
  /* Adjust based on actual guest breakdown */
}

.at-a-glance-green {
  background-color: #00e676;
  width: 6%;
}

.at-a-glance-white {
  background-color: #ffffff;
  width: 2%;
}

.at-a-glance-royalblue {
  background-color: #7C9BF2;
  width: 7%;
}

.text-green {
  color: #2eaf6d;
}

.text-violet {
  color: #984fd3;
}

.text-royalblue {
  color: #7c9bf2;
}

.at-a-glance-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  font-size: smaller;
  padding: 0px;
  margin: 3px;
}


.p1 {
  margin: 0;
  color: white;
  font-size: 16px;
}


.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.header-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
}

.tab-item {
  border: none;
  background-color: transparent;
  padding: 8px;
  color: #ffffff75;
  transition: all 0.3s;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.tab-item:hover,
.tab-item.active {
  color: #ffffff;
}

/* Underline for the active tab (e.g., "Guests") */
.tab-item.underline {
  color: #ffffff;
}

.tab-item.underline::after {
  content: '';
  position: absolute;
  left: 5px;
  bottom: -2px;
  width: 85%;
  height: 2px;
  background-color: #ffffff;
}

/* Container for the whole tab list */
.tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 371px;
}

/* Each group of tabs */
.tab-group {
  display: flex;
  position: relative;
}

/* Separator line between tab groups */
.tab-group:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -1px;
  top: 25%;
  height: 50%;
  width: 2px;
  background-color: #ffffff33;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  padding: 20px;
}

.p1 {
  margin: 12px;
  margin-top: 2px;
}

.p2 {
  padding: 6px;
  color: #999999;
}


.px-1 {
  padding: 0 4px;
}

.px-2 {
  padding: 0 8px;
}

.py-1 {
  padding: 4px 0;
}

.py-2 {
  padding: 8px 0;
}

.py-3 {
  padding: 16px 0;
}